---
title: Cours
css: "/css/pdfs.css"
full-width: true
---

<section id="cours">
  {% if site.data.pdfs.Cours %}
  <h3>Notes de cours de deuxième année</h3>
  {% assign sorted_cours=site.data.pdfs.Cours|sort:'title' %}
  <div class="grid">
    {% for cours in sorted_cours %}
    {% if cours.path %}
    <div class="pdf">
      <a href="{{'/pdfs/Cours/' | append: cours.path}}">
        <i class="fa-regular fa-file-pdf"></i>
        {{cours.title|replace:'\\',' '}}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>

<hr>

<section id="cours premiere annee">
  {% if site.data.pdfs.PremiereAnnee.Cours %}
  <h3>Notes de cours de première année</h3>
  {% assign sorted_cours=site.data.pdfs.PremiereAnnee.Cours|sort:'title' %}
  <div class="grid">
    {% for cours in sorted_cours %}
    {% if cours.path %}
    <div class="pdf">
      <a href="{{'/pdfs/PremiereAnnee/Cours/' | append: cours.path}}">
        <i class="fa-regular fa-file-pdf"></i>
        <span style="display:inline-block; width:.1ex"></span> {{cours.title|replace:'\\',' '}}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>

<hr>

<section id="formulaires">
  {% if site.data.pdfs.Formulaires %}
  <h3>Formulaires</h3>
  {% assign sorted_formulaires=site.data.pdfs.Formulaires|sort:'title' %}
  <div class="grid">
    {% for formulaire in sorted_formulaires %}
    {% if formulaire.path %}
    <div class="pdf">
      <a href="{{'/pdfs/Formulaires/' | append: formulaire.path}}">
        <i class="fa-regular fa-file-pdf"></i>
        <span style="display:inline-block; width:.1ex"></span> {{formulaire.title|replace:'\\',' '}}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>

<hr>

<section id="colles">
  {% if site.data.pdfs.Colles %}
  <h3>Programmes de colles</h3>
  {% assign sorted_colles=site.data.pdfs.Colles|sort:'path' %}
  <div class="grid">
    {% for colle in sorted_colles %} {% if colle.path %}
    <div class="pdf">
      <a href="{{'/pdfs/Colles/' | append: colle.path}}">
        <i class="fa-regular fa-file-pdf"></i>
        <span style="display:inline-block; width:.1ex"></span> {{colle.title}}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</section>