---
layout: page
title: Devoirs
css: "/css/pdfs.css"
---

<section id="ds">
    <h3>Devoirs surveillés</h3>
    <div class="row">
        {% assign sorted_ds = site.data.pdfs.DS | sort : 'title' %}
        {% for ds in sorted_ds %}
            <div class="col-lg-3 enoncecorrige">
                <div class="zoom">
                    <h4>{{ds.title}}</h4>
                    <div>
                        {% assign s = ds | sort %}
                        {% for sub in s reversed %}
                            {% if sub[1].path %}
                                <a href="{{'/pdfs/' | append: sub[1].path}}">
                                    <i class="fa fa-file-pdf-o fa-2x"></i>
                                    <p>{{sub[0]}}</p>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<section id="dm">
    <h3>Devoirs surveillés</h3>
    <div class="row">
        {% assign sorted_dm = site.data.pdfs.DM | sort : 'title' %}
        {% for dm in sorted_dm %}
            <div class="col-lg-3 enoncecorrige">
                <div class="zoom">
                    <h4>{{dm.title}}</h4>
                    <div>
                        {% assign s = dm | sort %}
                        {% for sub in s reversed %}
                            {% if sub[1].path %}
                                <a href="{{'/pdfs/' | append: sub[1].path}}">
                                    <i class="fa fa-file-pdf-o fa-2x"></i>
                                    <p>{{sub[0]}}</p>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
