---
title: Devoirs
css: "/css/pdfs.css"
full-width: true
---

<section id="interros">
    {% if site.data.pdfs.Interros %}
    <h3>Interrogations écrites</h3>
    {% assign sorted_interros=site.data.pdfs.Interros|sort:'path' %}
    <div class="grid">
        {% for interro in sorted_interros %}
        {% if interro.path %}
        <div class="pdf">
            <a href="{{'/pdfs/Interros/' | append: interro.path}}">
                <i class="fa-regular fa-file-pdf"></i>
                {{interro.title}}
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</section>

<hr>

<section id="ds">
    {% if site.data.pdfs.DS %}
    <h3>Devoirs surveillés</h3>
    {% assign sorted_ds = site.data.pdfs.DS | sort : 'title' %}
    <div class="grid">
        {% for ds in sorted_ds %}
        <div class="enoncecorrige">
            <h4>{{ds.title}}</h4>
            <div>
                {% assign s = ds | sort %}
                {% for sub in s reversed %}
                {% if sub[1].path %}
                <a href="{{'/pdfs/DS/' | append: sub[1].path}}">
                    <i class="fa-regular fa-file-pdf"></i>
                    <span>{{sub[0]}}</spanp>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

<hr>

<section id="dm">
    {% if site.data.pdfs.DM %}
    <h3>Devoirs à la maison</h3>
    {% assign sorted_dm = site.data.pdfs.DM | sort : 'title' %}
    <div class="grid">
        {% for dm in sorted_dm %}
        <div class="enoncecorrige">
            <h4>{{dm.title}}</h4>
            <div>
                {% assign s = dm | sort %}
                {% for sub in s reversed %}
                {% if sub[1].path %}
                <a href="{{'/pdfs/DM/' | append: sub[1].path}}">
                    <i class="fa-regular fa-file-pdf"></i>
                    <span>{{sub[0]}}</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>