---
layout: page
title: MP Dumont
description: Mathématiques en MP (cours, devoirs et blog)
---

<div class="jumbotron">
  <h2>Journée portes ouvertes</h2>
  <hr>
  <h4>Le samedi 5 mars de 09h00 à 16h00</h4>
  <p>Présentation des classes préparatoires MPSI, PCSI, ECG, ECT, Lettres A/L</p>
  <p>Lycée Dumont d'Urville, 212 Rue Amiral Jaujard, 83000 Toulon</p>
</div>

<div class="jumbotron">

  Vous trouverez sur ce site les différents documents distribués en cours de mathématiques aux étudiants de la MP
  du lycée Dumont d'Urville.

  Vous trouverez également quelques posts sur les mathématiques et Python.

</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2> {% if post.subtitle %}
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3> {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %} {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}