---
title: Exercices
css: "/css/pdfs.css"
full-width: true
---

<section id="td">
    {% if site.data.pdfs.TD %}
    <h3>TD deuxième année</h3>
    <div class="grid">
        {% for td in site.data.pdfs.TD %}
        <div class="enoncecorrige">
            <h6>{{td.title}}</h6>
            <div>
                {% assign s = td | sort %}
                {% for sub in s reversed %}
                {% if sub[1].path %}
                <a href="{{'/pdfs/TD/' | append: sub[1].path}}">
                    <i class="fa-regular fa-file-pdf"></i>
                    <span>{{sub[0]}}</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

<hr>

<section id="td premiere annee">
    {% if site.data.pdfs.PremiereAnnee.TD %}
    <h3>TD première année (programme de 2013)</h3>
    <div class="grid">
        {% for td in site.data.pdfs.PremiereAnnee.TD %}
        <div class="enoncecorrige">
            <h6>{{td.title}}</h6>
            <div>
                {% assign s = td | sort %}
                {% for sub in s reversed %}
                {% if sub[1].path %}
                <a href="{{'/pdfs/PremiereAnnee/TD/' | append: sub[1].path}}">
                    <i class="fa-regular fa-file-pdf"></i>
                    <span>{{sub[0]}}</span>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>