---
layout: page
title: Vie de classe
css: "/css/pdfs.css"
---

<div class="row">

    <div class="col-lg-12">
        <section id="vieclasse">
{% if site.data.pdfs.VieClasse %}
{% for v in site.data.pdfs.VieClasse %}
{% if v.path %}
    <div class="col-lg-4 pdf">
      <div class="zoom">
        <a href="{{'/pdfs/VieClasse/' | append: v.path}}">
            <i class="fa fa-file-pdf-o fa-1x"></i><span style="display:inline-block; width:1ex"></span>{{v.title}}</a>
      </div>
    </div>
{% endif %}
{% endfor %}
{% endif %}
</section>
</div>
<!-- <div class="col-lg-4" style="padding:10px">
  <a href="https://docs.google.com/spreadsheets/d/1wrX4rzfOxKKO81BTm3tPRfurLXPHvZd4LW3n1rV5KQc/edit?usp=sharing">Notes premier semestre</a>
</div>
<div class="col-lg-4" style="padding:10px">
  <a href="https://docs.google.com/spreadsheets/d/1Pt-euze5tgU6sppeh2x9Fp7uTlZJuGW6ZebF7TKg2DE/edit?usp=sharing">Notes second semestre</a>
</div> -->
<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdd0CP4NKaW052L4tFHOTz9Zx8LggEVuhXyYfkg4qbitm8-wQ/viewform?embedded=true" width="760" height="1120" frameborder="0" marginheight="0" marginwidth="0">Chargement en cours...</iframe>
</div> -->
