---
common-css:
  - "/css/main.css"
  - "/css/theorems.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  - "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/main.js"
  - "/js/python.js"
common-ext-js:
  - "//code.jquery.com/jquery-3.1.1.min.js"
  - "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  - "//cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"
  - "//cdn.rawgit.com/skulpt/skulpt-dist/master/skulpt.min.js"
  - "//cdn.rawgit.com/skulpt/skulpt-dist/master/skulpt-stdlib.js"
---

<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include footer-scripts.html %}
  </body>
</html>
