---
common-css:
  - "/css/main-minimal.css"
common-ext-css:
  - "//stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
common-ext-js:
  - "//code.jquery.com/jquery-3.3.1.min.js"
  - "//stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
---

<!DOCTYPE html>
<html lang="fr">

  {% include head.html %}

  <body>

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}

    {% include footer-scripts.html %}

  </body>
</html>
